@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.ant-card {
  margin-top: 16px;
}
.span {
  margin-left: 5px;
}
.tags {
  display: inline-block;
}
.newsHeader {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #f0f2f5;
  box-shadow: 0 2px 8px #a3a3a3;
}
.icons {
  color: black;
  font-size: 30px;
  margin-right: 10px;
}
.links {
  color: black;
}
